{% block javascripts %}
    <script>

    </script>
{% endblock %}
{% block style %}
    <style>
        @media screen and (max-width: 650px) {
            .experience-content {
                flex-direction: column;
            }

            .experience-content-img {
                height: 210px;
                width: 320px;
            }   
        }

        .experience-content-img {
            height: 310px;
            width: 420px;
            filter: brightness(75%);
            box-shadow: 0 0 10px 6px rgb(21,23,16,0.5);
            border-radius: 5px;
        }

        .blue {
            color: blue;
        }

        .experience-content {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            margin-left: 32px;
            margin-right: 32px;
            gap: 80px;
        }

        .experience-content-text p {
            font-weight: 200;
            font-size: 1.3rem;
        }

        .experiene-content-link {
            margin-top: 8px;
        }

        @media screen and (max-width: 835px){
            .experience-content {
                margin-left: 16px;
                margin-right: 16px;
            }

            .experience-content-img {
                width: 320px;
                height: 210px;
            }
        }

        @media screen and (max-width: 650px){
            .experience-content {
                gap: 10px;
            }

            .experience-content {
                margin-left: 8px;
                margin-right: 8px;
            }

            .experience-content-img {
                width: 220px;
                height: 110px;
            }
        }

        @media screen and (max-width: 550px){
            .experience-content-text p {
                font-size: 18px;
            }
        }
        
    </style>
{% endblock %}
{% block body %}
    
    {% if index is odd %}
    <div class="experience-content right">
        <span class="experience-content-text">
            <h3> {{ item.headline }}</h3>
            <p class="color-primary-normal"> {{ item.content }}</p>
            {% if item.link is defined %}
                <div class="experiene-content-link">
                    <img src="{{ asset('svg/union.svg') }}" width="16px" height="16px">
                    <a href="{{ item.link }}" class="color-primary-light"> {{ item.linkText }}</a>
                </div>
            {% endif %}
        </span>
        <img class="experience-content-img" src="{{ asset(item.img) }}">
    </div>
    {% else %}
    <div class="experience-content">
        <img class="experience-content-img" src="{{ asset(item.img) }}">

        <span class="experience-content-text">
            <h3> {{ item.headline }}</h3>
            <p class="color-primary-normal"> {{ item.content }}</p>
            {% if item.link is defined %}
                <div class="experiene-content-link">
                    <img src="{{ asset('svg/union.svg') }}" width="16px" height="16px">
                    <a href="{{ item.link }}" class="color-primary-light"> {{ item.linkText }}</a>
                </div>
            {% endif %}
        </span>
    </div>
    {% endif %}

{% endblock %}
