{% block javascripts %}
    <script>

    </script>
{% endblock %}
{% block style %}
    <style>
        @media screen and (max-width: 650px) {
            .experience-content {
                flex-direction: column;
            }

            .experience-content-img {
                aspect-ratio: 2/1;
            }   
        }

        .experience-content-img {
            height: 50px;
            height: 50px;
        }

        .blue {
            color: blue;
        }

        .experience-content {
            display: flex;
            flex-direction: row;
        }

        
    </style>
{% endblock %}
{% block body %}
    <div class="experience-content">
        

    {% if index is odd %}
    <span class="experience-content-text">
        <h3> {{ item.headline }}</h3>
        <p class="{{index is odd ? 'blue left' : 'right'}}">{{index}} index</p>
        <p class="color-primary-normal"> {{ item.content }}</p>
        {% if item.link is defined %}
            <div class="experiene-content-link">
                <img src="{{ asset('svg/union.svg') }}" width="16px" height="16px">
                <a href="{{ item.link }}" class="color-primary-light"> {{ item.linkText }}</a>
            </div>
        {% endif %}
    </span>
    <img class="experience-content-img" src="{{ asset(item.img) }}">
    {% else %}
    <img class="experience-content-img" src="{{ asset(item.img) }}">

        <span class="experience-content-text">
            <h3> {{ item.headline }}</h3>

            <p class="{{index is odd ? 'blue left' : 'right'}}">{{index}} index</p>

            <p class="color-primary-normal"> {{ item.content }}</p>
            {% if item.link is defined %}
                <div class="experiene-content-link">
                    <img src="{{ asset('svg/union.svg') }}" width="16px" height="16px">
                    <a href="{{ item.link }}" class="color-primary-light"> {{ item.linkText }}</a>
                </div>
            {% endif %}
        </span>
    {% endif %}

    </div>
{% endblock %}
