{% block javascripts %}
    <script>

    </script>
{% endblock %}
{% block style %}
    <style>
        @media screen and (max-width: 650px) {
            .experience-content {
                flex-direction: column;
            }

            .experience-content-img {
                aspect-ratio: 2/1;
            }   
        }

        .experience-content-img {
            height: 310px;
            width: 420px;
        }

        .blue {
            color: blue;
        }

        .experience-content {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            margin-left: 32px;
            margin-right: 32px;
            gap: 80px;
        }

        .right {
            justify-content: flex-end;
        }

        
    </style>
{% endblock %}
{% block body %}
    
    {% if index is odd %}
    <div class="experience-content right">
        <span class="experience-content-text">
            <h3> {{ item.headline }}</h3>
            <p class="">index</p>
            <p class="color-primary-normal"> {{ item.content }}</p>
            {% if item.link is defined %}
                <div class="experiene-content-link">
                    <img src="{{ asset('svg/union.svg') }}" width="16px" height="16px">
                    <a href="{{ item.link }}" class="color-primary-light"> {{ item.linkText }}</a>
                </div>
            {% endif %}
        </span>
        <img class="experience-content-img" src="{{ asset(item.img) }}">
    </div>
    {% else %}
    <div class="experience-content">
        <img class="experience-content-img" src="{{ asset(item.img) }}">

        <span class="experience-content-text">
            <h3> {{ item.headline }}</h3>

            <p class="">{{index}} index</p>

            <p class="color-primary-normal"> {{ item.content }}</p>
            {% if item.link is defined %}
                <div class="experiene-content-link">
                    <img src="{{ asset('svg/union.svg') }}" width="16px" height="16px">
                    <a href="{{ item.link }}" class="color-primary-light"> {{ item.linkText }}</a>
                </div>
            {% endif %}
        </span>
    </div>
    {% endif %}

{% endblock %}
